:root {
  --app-header-text-clr1: #292a2e;
  --app-header-backgrd-clr1: #474c50;
  --header-txt-clr1: #292a2e;
  --header-bckgrd-clr1: #666d71;
  --header-logo-clr1: #a9abaf;
  /* --clr1: #ce2e6c;
  --clr1: #ffffff;
  --clr2: #4f3a65;
  --clr3: #574f7d;
  --clr4: #95adbe;
  --clr5: #dff0ea;

  --clr1-light: color-mix(in lab, var(--clr1), white 15%);

  --gray1: #ddd;
  --gray2: #aaa;
  --gray3: #777;
  --gray4: #333;

  --success: rgb(41, 189, 73);
  --error: rgb(216, 59, 59); */
}